@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.card.card-color-blue {
  background-color: oklch(95% 0.025 200);
}
.card {
  max-width: 25rem;
  background-color: oklch(95% 0.025 90);
  overflow-x: hidden;
  border-radius: 0.75rem;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 3rem;
}

.card__img {
  width: 100%;
}
.card__top {
  padding-inline: 1rem;
  padding-block: 0.75rem;
}

.card:first-child {
  margin-top: 0;
}
.card__bottom {
  padding: 1rem;
}
.card__p {
  margin-top: 32px;
}
.card__body {
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  font-style: normal;
}
.card__title {
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 1rem;
}
.card__subtitle {
  margin-top: 0.25rem;
  font-weight: 400;
  line-height: 1.25rem;
  font-size: 0.875rem;
}

.card__bottom .card__title {
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.0313rem;
}

.card__bottom .card__subtitle {
  margin-top: 0;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0156rem;
}
